
html {
  font-size: 10px;
}
h2

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

img {
  margin: 10px auto;
}
a { color: inherit !important;  
  text-decoration: none;
 } 

.dotted {
  border-bottom: dotted ;
}

h2 a { text-decoration: none !important;  }
h2 a:hover { color:gray !important; }


